/* global background/layout */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
button {
    width: 195px;
    border-radius: 50px;
    height: 64px;
}
body {
    background-color: #f2f2f2;
}
img {
    border-radius: 5px;
    /* width: 48%; */
    max-width: 100%;
    display: block;
    
}
/* list type */
ul {
   list-style-type: none;
   padding: 60px;
   margin: 0;
   text-align: left;
   font-size: 21px;
   line-height: 32px;
   font-weight: 700;
   
} 

/* typography section */
h1 {
    text-align: center;
    font-weight: 800;
    line-height: 100px;
}
h2 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding: 20px;
}
p {
    color: #C5C5C5;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    /* padding: 50px; */
}

/* global wrapper */
.wrapper {
    max-width: 1080px;
    padding: 0;
    width: 1440px;
    margin: 0 auto;
}

header, nav, main, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header styles */
header {
    justify-content: center;
    
}
nav {
    
    color: white;
    text-align: center;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0%;
    padding: 2%;
    gap: 50px;

}
nav a {
    color: #fff;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    font-family: Jakarta Sans;
    display: inline;
    margin-right: 20px;
    
}
/* main section */
main {
    background: #161513;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* height: 2670px; */
    /* width: 1440px; */
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding-top: 50px;

}

.tagline {
    padding-top: 20px;
    font-size: 55px;
    font-weight: 800;
   
/* variables */
:colors {
    --primary-color: var(--PrimaryGradient)
    --secondary-color: var(--#FF8660)
    --text-color: var(--#9A33FF)
}


}
/* experience section */
.experience {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 70px;
}

.experience-info {
    margin-bottom: 20px;
}
/* project section */
.project,
.experience-info {
    background: #2A2A2A;
    padding: 0px;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    justify-content: center;
}
.project  {
    max-width: 390px;
}


/* footer styles */
/* footer {
    
    flex-direction:
} */

footer {
    background-color: #191919;
    color: #C5C5C5;
    height: 418.76px;
    
}
.icons {
    display: flex;
    /* justify-content: ; */
    gap: 10px;
    
    
}
h3 {
    /* background-color: #333; */
    color: #fff;
    padding: 20px;
    /* text-align: center; */
    font-weight: 700;
    font-size: 23px;
    line-height: 35.29px;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info p {
text-align: left;
}

/* media queries */
@media (min-width: 1285px) {
    body {
        font-family: arial, sans-serif;
        margin: 0;
        padding: 0;
    }
}




